# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Environment variables
.env
.env.test
.env.local

# SSL certificates
certs/

# Coverage directory
coverage/

# Build output
dist/
build/

# OS specific files
.DS_Store
Thumbs.db

# IDE folders
.idea/
.vscode/ 